.side-pic {
  width: 9.6rem;
}

.sub-headline {
  display: flex;
  width: 24rem;
  padding-left: 0.5rem;
}

.box {
  background-color: #fff4f2;
  color: #ff4422;
  font-weight: 600;
  width: 13rem;
  padding-left: 1rem;
}

.headline-image {
  padding-left: 1rem;
 -moz-box-shadow: 10px 10px 5px #888;
 -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;

}

.make_transperant {
  background:linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35));
  width: 27rem;
}

.headline {
  position: relative;
}

.text-on-picture {
  position: absolute;
  color: white;
  font-size: 1rem;
  z-index: 1;
  top :11rem;
  left: 2rem;
}

.most {
  font-size: 1rem;
}

.about-headline {
  font-size: 1.2rem;
  width: 21rem;
  text-shadow: black 0.1rem 0 1rem;
}


.published {
  color: #828282;
  font-weight: 900;
  text-shadow: white 0.1rem 0 1rem;
}

.hand {
  width: 1rem;
}

body {
  max-width: 60rem;
  padding: 0 auto;
}

