.hide-side1 {
  display: none;
}

.hide_formobile {
  display: none;
}

.news {
  position: relative;
  color: white;
  margin-top: -4rem;
  width: 28rem;
}

/* .news article {
  background-size: 100% 30vh;
  position: relative;
  background-repeat: no-repeat;
} */
.main_news {
  height: 14em;
  margin-bottom: -3.4rem;
}

.recent_news header {
  display: flex;
  flex-direction: column;
  color: blanchedalmond;
  height: 100%;
  padding: 2rem;
  z-index: 10;
}

.recent_news {
  margin-top: 60px;
  margin-left: 10px;
  font-size: 1rem;
}

.author {
  display: flex;
  font-size: 10px;
  color: rgb(228, 224, 218);
  position: absolute;
  top: 10rem;
}

.fa-clock {
  width: 1rem;
  padding-top: 0.01rem;
  margin-right: 0.85rem;
}

.by {
  padding-right: 0.5rem;
}

.first_sub_news {
  height: 9rem;
  margin-bottom: -3.2rem;
}

.second_sub_news {
  height: 12rem;
}

.time {
  margin-left: -1rem;
  margin-right: 0.3rem;
}

.search_icon {
  margin-left: -3rem;
}

.insights {
  position: absolute;
  top: 26rem;
}

.fa-share-alt {
  padding-right: 0.3rem;
}

.nigeria {
  position: absolute;
  top: 27.5rem;
}

.watch {
  position: absolute;
  top: 18rem;
}

.martian {
  position: absolute;
  top: 7.5rem;
}

.world {
  position: absolute;
  top: 6rem;
}

ul {
  list-style: none;
 /* Remove default bullets */;
}

ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f42;
 /* Change the color */
  font-weight: bold;
 /* If you want it to be bold */
  display: inline-block;
 /* Needed to add space between the bullet and the text */
  width: 1em;
 /* Also needed for space (tweak if needed) */
  margin-left: -1em;
 /* Also needed for space (tweak if needed) */;
}

.matt {
  top: 32.5rem;
}

.first_author {
  top: 12.5rem;
}

