.link-nav {
  display: flex;
  justify-content: space-between;
}
.navigation_bar {
  justify-self: end;
}
.hide-side1 {
  display: none !important;
}
.hide_formobile {
  display: none !important;
}
.navigation_bar ul:last-of-type li:last-of-type {
  display: flex !important;
}
.top_nav, .navigation_bar {
  padding: 0 20px 0 0;
  justify-content: space-between;
}

.navigation_bar ul:first-of-type {
  padding: 1.5rem 0 1.5rem 2rem;
}

.navigation_bar ul:first-of-type li {
  margin-right: 2rem;
}

.navigation_bar ul:last-of-type li {
  display: flex;
  border-left: 1px solid rgba(143, 137, 137, 0.1);
  border-right: 1px solid rgba(143, 137, 137, 0.1);
}
.navigation_bar button {
  display: flex;
}

.container {
  display: grid;
  gap: 6px;
}

.news {
  display: grid;
  position: relative;
  gap: 5px;
  color: white;
}

.news article {
  background-size: 100% 30vh;
  position: relative;
  background-repeat: no-repeat;
}
.main_news {
  position: relative;
  height: 12em;
}
.recent_news header {
  display: flex;
  flex-direction: column;
  color: blanchedalmond;
  height: 100%;
  padding: 2rem;
  z-index: 10;
}

.recent_news {
  margin-top: 60px;
  margin-left: 10px;
  font-size: 1rem;
}

.author {
  display: flex;
  font-size: 10px;
  color: rgb(228, 224, 218);
  position: absolute;
  top: 10rem;
}

.fa-clock {
  width: 1rem;
  padding-top: 0.01rem;
  margin-right: 0.85rem;
}

.by {
  padding-right:0.5rem;
}

.first_sub_news {
  height: 9rem;
}

.second_sub_news {
  height: 12rem;
}

.time {
  margin-left: -1rem;
}

.search_icon {
  margin-left: 16.5rem;
}

.insights {
  margin-bottom: -1rem;
  margin-top: 4.5rem;
}




