.hide-side1 {
  display: none;
}

.hide_formobile {
  display: none;
}

.news {
  position: relative;
  color: white;
  margin-top: -4rem;
  width: 28rem;
}

.main_news {
  height: 14em;
  background-image: linear-gradient(to bottom, rgba(15, 15, 15, 0.52), rgba(10, 10, 10, 0.73)), url('./assets/earth.png');
  margin-bottom: 0.5rem;
}

.recent_news {
  margin-top: 60px;
  margin-left: 10px;
  font-size: 1rem;
}

.author {
  display: flex;
  font-size: 10px;
  color: rgb(228, 224, 218);
  position: absolute;
  top: 10rem;
}

.fa-clock {
  width: 1rem;
  padding-top: 0.01rem;
  margin-right: 0.85rem;
}

.by {
  padding-right: 0.5rem;
}

.first_sub_news {
  height: 9rem;
  margin-bottom: -3.2rem;
  background-image: linear-gradient(to bottom, rgba(15, 15, 15, 0.52), rgba(10, 10, 10, 0.73)), url('./assets/TNW-Working-405x270.jpg');
}

.second_sub_news {
  height: 12rem;
  background-image: linear-gradient(to bottom, rgba(15, 15, 15, 0.52), rgba(10, 10, 10, 0.73)), url('./assets/nigeria.jpg');
}

.time {
  margin-left: -1rem;
  margin-right: 0.3rem;
}

.search_icon {
  margin-left: -3rem;
}

.insights {
  position: absolute;
  top: 26rem;
}

.fa-share-alt {
  padding-right: 0.3rem;
}

.nigeria {
  position: absolute;
  top: 27.5rem;
}

.watch {
  position: absolute;
  top: 18rem;
}

.martian {
  position: absolute;
  top: 7.5rem;
}

.world {
  position: absolute;
  top: 6rem;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #f42;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.matt {
  top: 32.5rem;
}

.first_author {
  top: 12.5rem;
}

.logo-desktop {
  display: none;
}
