  
@media (min-width: 768px) and (max-width: 1024px) {
  .news {
    margin-top: 1rem !important;
    width: 64.5rem !important;
    display: grid;
    grid-template-rows: 10rem 18.5rem;
    grid-template-columns: 60% 40%;
    margin-bottom: 1rem;
  }
  
  .main_news {
    height: 28rem !important;
    width: 38.2rem;
    grid-row-start: 1;
    grid-row-end: 2;

  }

  .first_sub_news {
    grid-row: 1;
    height: 12rem !important;
  }

  .second_sub_news {
    grid-column: 2;
    grid-row: 2;
    height: 15.5rem !important;
    margin-top: 2.5rem;
  } 

  .first_sub_news h2,.second_sub_news h2 {
    font-size: 0.95rem;
    
  }
  .second_sub_news h3 {
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
  }

  .matt {
    margin-top: -8.5rem;
  }

  .latest_news {
    margin-top: -1rem;
  }
  .one {
    grid-column-start: 1;;
  }

  .main_news h3 {
    margin-bottom: -1rem;
    margin-top: 14.2rem;
  }
  .author {
    padding-top: 0.4rem;
  }

  .first_author {
    margin-top: 7rem;
  }
  .company-logo-first {
    top: 110.5rem;
  }

  .company-logo-second {
    top: 110.5rem;
    left: 18rem;
  }
  .company-logo-third {
    top: 110.5rem;
    left: 34rem;
  }
  .nigeria {
    top: 21.2rem !important;
  }
  .menu {
    padding-right: 1rem;
  }
  .hide-side1 {
    display: flex !important;
    justify-content: space-around;
    width: 100rem;
    background-color: #131313;
    color: #979f9f;
    font-size: 1.2rem;
    margin-left: -0.5rem;
    height: 2.5rem;
    align-items: center;
    width: 65.2rem;
  }
  .news_link {
    padding-left: 3.5rem;
  }
  .top_nav {
    margin-top: -0.3rem;
    height: 2rem;
  }
  .menu {
    display: none;
  }
  .hide_formobile {
    display: flex !important;
    justify-content: space-around;
    margin-right: 29rem;
    color: #a9a9a9;
    width: 38rem;
  }

  .search_icon {
    margin-left: -9rem !important;
    margin-right: 12rem;
  }

  .martian {
    top:14.5rem !important;
    width: 27rem;
  }
  .world {
    top: -0.4rem !important;
  }
  .news-pieces {
    display: grid;
    grid-template-columns: 21rem 21rem 21rem;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
    display: block;
    width: 100%;
  }
  .two {
    grid-row: 1;
    grid-column: 2;
    display: block;
    width: 100%;
  }

  .three {
    grid-row: 1;
    grid-column: 3;
    display: block;
    width: 100%;
  }

  .four {
    grid-row: 2;
    grid-column: 1;
    display: block;
    width: 100%;
  }

  .five {
    grid-row: 2;
    grid-column: 2;
    display: block;
    width: 100%;
  }

  .six {
    grid-row: 2;
    grid-column: 3;
    display: block;
    width: 100%;
  }
  
  .seven {
    grid-row: 3;
    grid-column: 1;
    display: block;
    width: 100%;
  }

  .eight {
    grid-row: 2;
    grid-column: 2  ;
    display: block;
    width: 100%;
  }

  .new-picture-image {
    width: 90%;
    height: 13rem;
  }
  .new-text {
    margin-left: 1rem;
  }
  .insights {
    top:19rem !important;
  }
  .watch {
    top:7rem !important;
  }

  .latest-funding {
    width: 40rem;
  }

  .new-time {
    font-size: 1rem;
  }

  .rounds {
    display: flex;

  }

  .round {
    margin-right: -8rem;
  }

  .company,.raising,.brief {
    width: 14rem;
  }

  .headlines {
    display: grid;
    width: 65rem;
    grid-template-columns: 48% 48%;
  }
  .name {
    font-size: 1rem;
  }
  .new-text {
    width: 9rem;
  }
  .new {
    width: 16rem;
    margin-left: 1rem;
  }
  .grid-list {
    width: 26rem;
    margin-left: -1rem;
    
  }

  .deals-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 61rem;
    
  }
  .deal {
    display: block;
  }

  .deal-image {
    width: 14.5rem;
  }

  footer {
    width: 65rem;
  }

  .nnews {
    color: white;
  }

  .author {
    font-size: 0.9rem !important;
  }
  .nav-links {
    display: flex;
    justify-content: sp;
  }

  .logo-mobile img {
    margin-top: -1rem;
    height: 3.5rem;
  }
}
